{% extends 'sec/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section w-75 mx-auto">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<h3 class="font-weight-bold mb-4">Edit Details</h3>
			</fieldset>
				{{ form|crispy }}
			
			<div class="form-group">
				<button class="btn btn-success mt-4" type="Submit">Save</button>
			</div>
		</form>
		<br>
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}