{% extends 'sec/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	
	*{
		font-family: 'Product Sans', sans-serif;
  }
  
  p{
    font-size: 18px;
    margin-top: 20px;
  }

	.profile{
		padding: 75px 0 75px 0;
	}

</style>
<div class="profile">
<div class="container">
  <div class="float-right mr-5">
    <a href="{% url 'edit' %}"><button class="btn btn-info">Edit Details</button></a>
  </div>
  <h2 class="font-weight-bold mb-4">Profile</h2>    
         
  <div class="row">
    <div class="col-4">
      <p class="font-weight-bold">Username</p>
    </div>
    <div class="col-8">
      <p>{{ user.username }}</p>
    </div>
    <div class="col-4">
      <p class="font-weight-bold">First Name</p>
    </div>
    <div class="col-8">
      <p>{{ user.first_name }}</p>
    </div>
    <div class="col-4">
      <p class="font-weight-bold">Last Name</p>
    </div>
    <div class="col-8">
      <p>{{ user.last_name }}</p>
    </div>
    <div class="col-4">
      <p class="font-weight-bold">Email</p>
    </div>
    <div class="col-8">
      <p>{{ user.email }}</p>
    </div>
    <div class="col-4">
      <p class="font-weight-bold">Password</p>
    </div>
    <div class="col-8">
      <p><a href="{% url 'change_password' %}"><button class="btn btn-outline-secondary">Change Password</button></a></p>
    </div>
    
  </div>
</div>
</div>
{% endblock %}