{% extends 'sec/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
	
	.projects{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 20px;
		padding-right: 20px;
		background: #f8f8f8;
		box-shadow: 4px 4px 3px #777;
	}

</style>

	<div class="content-section">		
		{% for i in projects %}
			<div class="projects">
				<div class="row">
					<div class="col-md-12">
						<h3><a href="{% url 'project_detail' pk=i.pk %}">{{ i.title }}</a></h3>
					</div>
				</div>
				{% if loginStat == False %}
				<div class="row">
					<div class="col-md-12">
						<p style="font-size: 14px; font-family: 'Product Sans';">Made By {{ i.author.first_name }} {{ i.author.last_name }}</p>
					</div>
				</div>
				<br>
				{% endif %}
				<div class="row">
					<div class="col-md-12">
						<p>{{ i.short_description }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p style="font-size: 14px; font-family: 'Product Sans';">Languages / Frameworks used {{ i.languages_or_Frameworks_used }}</p>
					</div>
				</div>
			</div>
			<br><br>
		{% endfor %}
	</div>
{% endblock %}