{% extends 'sec/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
	
	.projects{
		
		background: #f8f8f8;
	}

</style>

	<div class="content-section">		
		{% for i in projects %}
			<div class="projects shadow p-5">
				<div class="row">
					<div class="col-md-12">
						<a href="{% url 'project_detail' pk=i.pk %}"><h3>{{ i.title }}</h3></a>
					</div>
				</div>
				{% if loginStat == False %}
				<div class="row">
					<div class="col-md-12">
						<p style="font-size: 14px; font-family: 'Product Sans';">Made By {{ i.author.first_name }} {{ i.author.last_name }}</p>
					</div>
				</div>
				<br>
				{% endif %}
				<div class="row">
					<div class="col-md-12">
						<p class="font-weight-bold">{{ i.short_description }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>Languages / Frameworks used {{ i.languages_or_Frameworks_used }}</p>
					</div>
				</div>
			</div>
			<br><br>
		{% endfor %}
	</div>
{% endblock %}