{% extends 'sec/base.html' %}

{% block content %}
    <div class="post">
        {% if project.submitted_Date_Time %}
            <div class="date">
                {{ project.submitted_Date_Time }}
            </div>
        {% endif %}
		<h1>{{ project.title }}</h1>
        <h4 style="font-size: 18px; font-family: 'Product Sans'">Made by: {{ project.author }}</h4>
        <br>
        <p>{{ project.long_description|linebreaksbr }}</p>
        <br>
        <p>Languages / Frameworks used: {{ project.languages_or_Frameworks_used|linebreaksbr }}</p>
        <br><br><br>
    </div>
{% endblock %}